@page "/drum-machine"
@implements IAsyncDisposable
@inject IJSRuntime JS

<PageTitle>Drum Machine</PageTitle>

<h1>Drum Machine</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<p>
    <button id="btn">Click Me!</button>
</p>

<div class="text-center">
  <h1>Drum Machine</h1>
</div>
<div>
  <h2>Use the drum machine below to play some drum samples!</h2>
</div>
<div class="container bg-secondary">
  <div class="row mb-5"></div>
  <div class="row">
    <div class="text-center text-dark bg-dark">___________</div>
  </div>
  <div class="row">
    <div class="text-center text-success bg-dark">
        <h1 style="font-family: 'Press Start 2P', cursive; font-size: 20px;">NOW PLAYING</h1>
    </div>
  </div>
  <div class="row">
    <div class="text-center text-dark bg-dark">___________</div>
  </div>
  <div class="row mt-3">
    <div class="d-flex justify-content-center">
      <button class="btn btn-success" style='font-family: "Play", sans-serif; font-weight: 400;font-style: normal;' id="PlayButton"><h2>PLAY</h2></button>
      <button class="btn btn-danger" style='font-family: "Play", sans-serif; font-weight: 400;font-style: normal;' id="PauseButton"><h2>PAUSE</h2></button>
    </div>
  </div>
  <div class="row mb-5">
    <div class="d-flex justify-content-center">
      <button class="btn btn-warning" style='font-family: "Play", sans-serif; font-weight: 400;font-style: normal;' id="ResetButton"><h2>Reset</h2></button>
    </div>
  </div>
  <div class="row mt-3 mb-5">
    <div class="d-flex justify-content-center">
      <label for="bpmRange" class="form-label">BPM (Beats Per Minute)</label>
      <input type="range" class="form-range" min="0" max="300" step="1" id="bpmRange">
    </div>
  </div>
  <div class="row mb-5">
    <div class="col d-flex justify-content-between">
      <button class="btn btn-danger" id="Hat1">🔔 1</button>
      <button class="btn btn-danger" id="Hat2">🔔 2</button>
      <button class="btn btn-danger" id="Hat3">🔔 3</button>
      <button class="btn btn-danger" id="Hat4">🔔 4</button>
      <button class="btn btn-warning" id="Snare1">🥁 1</button>
      <button class="btn btn-warning" id="Snare2">🥁 2</button>
      <button class="btn btn-warning" id="Snare3">🥁 3</button>
      <button class="btn btn-warning" id="Snare4">🥁 4</button>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col d-flex justify-content-between">
      <button class="btn btn-primary" id="Kick1">🛢️ 1</button>
      <button class="btn btn-primary" id="Kick2">🛢️ 2</button>
      <button class="btn btn-primary" id="Kick3">🛢️ 3</button>
      <button class="btn btn-primary" id="Kick4">🛢️ 4</button>
      <button class="btn btn-info" id="Clap1">👏 1</button>
      <button class="btn btn-info" id="Clap2">👏 2</button>
      <button class="btn btn-info" id="Clap3">👏 3</button>
      <button class="btn btn-info" id="Clap4">👏 4</button>
    </div>
  </div>
  <div class="row mt-5"></div>
</div>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
    private IJSObjectReference? module;

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import",
                "./Pages/DrumMachine.razor.js");

            await module.InvokeVoidAsync("addHandlers");
        }
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module is not null)
        {
            try
            {
                await module.DisposeAsync();
            }
            catch (JSDisconnectedException)
            {
            }
        }
    }
}