/* Play for buttons / general text */
.play-regular {
    font-family: 'Play', sans-serif;
    font-weight: 400;
}

.play-bold {
    font-family: 'Play', sans-serif;
    font-weight: 700;
}

/* Press Start 2P for retro headings / marquee */
.press-start {
    font-family: 'Press Start 2P', cursive;
    font-size: '20px';
}

/* BBH Bartle for special headings or sidebar */
.bbh-bartle {
    font-family: 'BBH Bartle', cursive;
    font-size: '40px';
}

.sequence-on {
    -webkit-box-shadow:0px 0px 67px 27px rgba(45,255,196,0.9);
    -moz-box-shadow: 0px 0px 67px 27px rgba(45,255,196,0.9);
    box-shadow: 0px 0px 67px 27px rgba(45,255,196,0.9);
}

#DrumMachineState {
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
}

#DrumMachineState span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 5s linear infinite;
}

@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}